.nav-file-title {
	display: flex;
	align-items: center;
}

.nav-file-title-content {
	flex: 1;
}

.git-status-badge {
	font-size: 12px;
	margin-left: auto;
	padding-right: 4px;
	flex-shrink: 0;
}

.git-status-badge.modified {
	color: #d19a66;
}

.git-status-badge.added {
	color: #98c379;
}

.git-status-badge.deleted {
	color: #e06c75;
}

.git-status-badge.renamed {
	color: #61afef;
}
